@import '../_colors.scss';
@import '../_mixin.scss';

.page {
  width: 100%;
}

.mosaic {
  border-collapse: collapse;

  td:nth-child(n + 3) {
    display: none;
  }

  @include media-min-width(20rem) {
    td:nth-child(n) {
      display: inline-table;
    }
    td:nth-child(n + 4) {
      display: none;
    }
    @include media-min-width(32rem) {
      td:nth-child(n) {
        display: inline-table;
      }
      td:nth-child(n + 5) {
        display: none;
      }
      @include media-min-width(40rem) {
        td:nth-child(n) {
          display: inline-table;
        }
        td:nth-child(n + 6) {
          display: none;
        }
        @include media-min-width(55rem) {
          td:nth-child(n) {
            display: inline-table;
          }
          td:nth-child(n + 7) {
            display: none;
          }
          @include media-min-width(62rem) {
            td:nth-child(n) {
              display: inline-table;
            }
          }
        }
      }
    }
  }
}

.mosaic_item_web {
  position: relative;
  width: 50vw;
  height: 10rem;

  @include media-min-width(20rem) {
    width: calc(100vw / 3);
    height: 13rem;
    @include media-min-width(32rem) {
      width: calc(100vw / 4);
      @include media-min-width(40rem) {
        width: calc(100vw / 5);
        @include media-min-width(55rem) {
          width: calc(100vw / 6);
          @include media-min-width(62rem) {
            width: calc(100vw / 8);
            max-width: calc(80rem / 8);
            height: 20rem;
          }
        }
      }
    }
  }
}

.socials {
  margin: 2rem 0;
}

.contact {
  width: 100%;
  padding: 2rem 1rem;
  border-top: 1px solid map-get($map: $colors, $key: light-grey);

  @include media-min-width(40rem) {
    @include display-flex();
    flex-direction: row;
    justify-content: center;
    padding: 3rem 2rem;
  }

  .info {
    @include display-flex();
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1.5rem;
    width: 100%;
    font-size: 0.8rem;

    @include media-min-width(40rem) {
      width: 30%;
      font-size: 1rem;
    }

    table {
      td:last-child {
        @include display-flex();
        margin-left: 0.3rem;
      }

      td {
        vertical-align: middle;
        padding-right: 0.5rem;
        text-align: right;
        margin: 0.25rem 0;
      }

      p {
        margin: 0.3rem 0;
      }
    }
  }

  .icon {
    fill: map-get($map: $colors, $key: dark-grey);
  }

  .messenger {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid map-get($map: $colors, $key: light-grey);
    @include media-min-width(40rem) {
      margin-top: 0;
      border-top: none;
      padding-top: 0;
      font-size: 1rem;
      width: 50%;
    }
  }
}

.contact_text {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
  font-family: inherit;
  text-align: center;
}

.contact_form {
  @include display-flex();
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.contact_inputline {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-family: inherit;
  text-align: right;

  textarea {
    resize: none;
  }
}

.social_container {
  @include display-flex();
  flex-direction: row;
  justify-content: center;
}

.social_icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.social_face {
  padding: 0.5rem;
}

.social_inst {
  padding: 0.6rem;
}

.social_what {
  padding: 0.4rem;
}

.button {
  width: 6rem;
}
