@import '../_colors.scss';
@import '../_mixin.scss';

.content {
  & p {
    margin: 0;
  }

  & h2 {
    text-transform: uppercase;
    font-weight: 400;
  }
}

.h_100 {
  height: 100%;
}

.w_100 {
  width: 100%;
}

.flex_center {
  @include display-flex();
  justify-content: center;
  align-items: center;
}

.flex_column {
  flex-direction: column;
}

.marginver_1rem {
  margin: 1rem 0;
}

.width_8rem {
  width: 100%;
  max-width: 8rem;
}

.width_12rem {
  width: 100%;
  max-width: 12rem;
}

.width_25rem {
  width: 100%;
  max-width: 25rem;
}

.link {
  color: map-get($map: $colors, $key: primary);
  text-decoration: underline;
  cursor: pointer;
}