@import '../../styles/_colors.scss';
@import '../../styles/_mixin.scss';

.confirmationBox {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem;
  top: 30%;
  left: 0;
  right: 0;
  width: 20rem;
  min-height: 15rem;
  background-color: map-get($map: $colors, $key: white);
  color: map-get($map: $colors, $key: black);
  font-family: inherit;
  font-size: inherit;
  z-index: 12;

  @include media-min-width(40rem) {
    width: 35rem;
  }

  @include display-flex();
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  & > span {
    @include display-flex();
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    .formButton {
      min-width: 7rem;
    }
  }
}

.longDialog {
  position: absolute;
}