@import '../../styles/_colors';
@import '../../styles/_mixin.scss';

//Selector
.select {
  position: relative;
  @include display-flex();
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: map-get($map: $colors, $key: white);
  border: 1px solid map-get($map: $colors, $key: light-grey);
  border-radius: 5px;

  &:hover {
    border-color: map-get($map: $colors, $key: back-dark);
  }
}

.select:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid map-get($map: $colors, $key: light-grey);
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  z-index: 2;
}

.selected {
  position: absolute;
  height: 1rem;
  top: calc(50% - 0.5rem);
  left: 1rem;
  // text-transform: capitalize;
}

.options {
  position: absolute;
  top: 100%;
  width: 95%;
  background-color: white;
  // text-transform: capitalize;
  border: 1px solid map-get($map: $colors, $key: light-grey);
}

.options_visible {
  z-index: 3;
  display: unset;
  pointer-events: all;
  visibility: visible;
}

.options_invisible {
  z-index: -1;
  display: none;
  pointer-events: none;
  visibility: hidden;
}

//SelectorItem
.selector_item {
  @include display-flex();
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  border: none;
  // background-color: white;
  transition: background-color 0.2s ease-in-out;
}

//input
.inputLine {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.inputText {
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  border: 1px solid map-get($map: $colors, $key: grey);
  width: 100%;
  padding: 0.8rem 0.5rem;
  margin: 0;
  &:hover:enabled {
    border-color: map-get($map: $colors, $key: back-dark);
  }

  &:focus {
    outline: none;
  }
}

.inputText_invalid {
  border: 1px solid map-get($map: $colors, $key: promo-red);
}

.validationMessage {
  margin-left: 1rem;
  color: map-get($map: $colors, $key: promo-red);
  font-family: inherit;
  font-size: 0.7rem;
}

//radio
.radio_container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

  &:checked ~ .radio_checkmark {
    border: 3px solid map-get($map: $colors, $key: primary);

    &::after {
      display: block;
    }
  }
}
.radio_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 3px solid map-get($map: $colors, $key: grey);
  border-radius: 50%;

  &:hover {
    border: 3px solid map-get($map: $colors, $key: primary);
  }

  &::after {
    position: absolute;
    display: none;
    content: '';
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: map-get($map: $colors, $key: primary);
  }
}
