@import '../../styles/_colors';
@import '../../styles/_mixin.scss';

.item {
  list-style: none;
}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: map-get($map: $colors, $key: white);
  border: 1px solid transparent;
  transition: all .3s ease;

  .promo {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    text-align: center;
    color: map-get($map: $colors, $key: white);
    margin: 0;
    padding: 0.5rem;
    width: 11rem;
    background-color: map-get($map: $colors, $key: promo-red);
    transform-origin: center;
    transform: rotateZ(45deg) translateX(3rem) translateY(-1rem);
  }

  .img_container {
    width: 100%;
    height: 100%;
  }

  .info_container {
    @include display-flex();
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    align-items: center;

    > span {
      padding: 0.1rem 0;
    }

    .discountText {
      font-weight: 500;
      font-size: 0.8rem;
    }

    .price {
      font-size: 1rem;
    }

    .price {
      font-weight: 500;
      font-size: 0.9rem;
      color: map-get($map: $colors, $key: secondary);
    }

    .description {
      text-align: center;
      font-size: 0.9rem;
    }
  }
}

.card:hover {
  cursor: pointer;
  border: 1px solid map-get($map: $colors, $key: black);
}
