@import '../../styles/_colors';
@import '../../styles/_mixin.scss';

.footer {
  @include display-flex();
  background-color: map-get($map: $colors, $key: black);
  color: map-get($map: $colors, $key: white);
  justify-content: center;
  align-items: center;
}

.footer_logo {
  height: 1em;
  margin-left: 0.5rem;
}
