@import '../../styles/_colors';
@import '../../styles/_mixin.scss';

.navbar {
  @include display-flex();
  position: fixed;
  flex-direction: column;
  top: 0;
  width: 100%;
  z-index: 5;
}

.absolute {
  position: absolute;
  &::after {
    content: '';
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(
      map-get($map: $colors, $key: black-transparent),
      transparent
    );
  }
}

.maincontent {
  position: relative;
  display: grid;
  grid-template-rows: auto 10rem;
  width: 100%;
  min-height: 100vh;
  top: 0rem;
}

.margin_top {
  margin-top: 4rem;
}

.maincontent__notice {
  @include media-min-width(40rem) {
    top: 2.5rem;
  }
}

.footer {
  width: 100%;
  height: 10rem;
}
