@import '../styles/_colors';
@import '../styles/_mixin.scss';

.container {
  width: 100%;
  font-size: 0.8rem;
  margin: 1rem 0 2rem 0;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid map-get($map: $colors, $key: light-grey);

  @include media-min-width(40rem) {
    font-size: 1rem;
  }

  .container_capitalized {
    font-family: inherit;
    text-transform: capitalize;
  }

  .form {
    @include display-flex();
    flex-direction: column;
    justify-content: flex-start;

    @include media-min-width(48rem) {
      justify-content: space-evenly;
      flex-direction: row;
    }
  }

  .form__button {
    width: 6rem;
    height: 2rem;
    @include media-min-width(40rem) {
      height: 3rem;
    }
  }

  .form_item_group {
    @include display-flex();
    flex-direction: column;
    width: 100%;

    @include media-min-width(25rem) {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    @include media-min-width(48rem) {
      width: 50%;
    }
  }

  .form_item {
    @include display-flex();
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0;

    @include media-min-width(48rem) {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .form_label {
    @include media-min-width(26rem) {
      margin-right: 0.5rem;
    }
  }
}

.selector_colors {
  width: 10rem;
  height: 2rem;
  @include media-min-width(40rem) {
    height: 3rem;
  }
}

.selector_sizes {
  width: 6rem;
  height: 2rem;
  @include media-min-width(40rem) {
    height: 3rem;
  }
}

.selector_order {
  width: 10rem;
  height: 2rem;
  @include media-min-width(40rem) {
    height: 3rem;
  }
}

.mobile_filter {
  @include display-flex();
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  width: 6rem;
  height: 2.2rem;
  border: 1px solid map-get($map: $colors, $key: secondary);
  color:map-get($map: $colors, $key: back-dark);

  &:hover {
    cursor: pointer;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon_color {
  fill: map-get($map: $colors, $key: secondary);
}
