@import '../styles/_colors';
@import '../styles/_mixin.scss';

.list {
  display: grid;
  gap: 0.3rem;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(2, calc(50% - 0.1rem));
  justify-content: center;

  @include media-min-width(40rem) {
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  }
}

//Carousel only:
.carousel {
  display: inline-flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.itemcontainer {
  display: none;

  &:nth-child(-n + 2) {
    display: inline-block;
  }

  @include media-min-width(40rem) {
    &:nth-child(-n + 4) {
      display: inline-block;
    }

    @include media-min-width(53.5rem) {
      &:nth-child(-n + 5) {
        display: inline-block;
      }
    }
  }
}

.container {
  @include display-flex();
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & > span {
    z-index: 5;
    cursor: pointer;
  }

  span:first-of-type {
    left: 0;
  }

  span:last-of-type {
    right: 0;
  }
}

.icon {
  fill: map-get($map: $colors, $key: black-transparent-opaque);
}
