@import '../styles/_colors';
@import '../styles/_mixin.scss';

.list {
  display: grid;
  column-gap: .3rem;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(2, calc(50% - .1rem));
  justify-content: center;
  
  @include media-min-width(40rem) {
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  }
}
