@import '../../styles/_fonts.scss';
@import '../../styles/_mixin.scss';

.content_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.webmenu {
  display: none;
  @include media-min-width(46.5rem) {
    grid-area: menu;
    position: fixed;
    top: 4rem;
    z-index: 5;
    display: inline-flex;
    width: 100%;
  }
}

.webmenu_notice {
  @include media-min-width(46.5rem) {
    top: 6.5rem;
  }
}

.content {
  height: 100%;
  margin-top: 4rem;
  @include media-min-width(46.5rem) {
    margin-top: 8rem;
  }

  .flex_center {
    @include display-flex();
    flex-direction: column;
    align-items: center;
  }

  .aside {
    display: none;
  }

  @include media-min-width(80rem) {
    display: grid;
    grid-template-columns: auto minmax(0, 80rem) auto;

    .aside {
      display: inline-block;
      filter: opacity(3%);
      background: url('../../public/laruci_watermark.png') center/5.7rem
        6.125rem repeat border-box scroll;
    }
  }
}