@import '../../styles/_fonts.scss';
@import '../../styles/_mixin.scss';

.content_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.webmenu {
  display: none;
  @include media-min-width(46.5rem) {
    grid-area: menu;
    position: fixed;
    top: 4rem;
    z-index: 5;
    display: inline-flex;
    width: 100%;
  }
}

.webmenu_notice {
  @include media-min-width(46.5rem) {
    top: 6.5rem;
  }
}

.content {
  height: 100%;
  padding-top: 4rem;
  width: 100%;
  max-width: 80rem;
  @include media-min-width(46.5rem) {
    padding-top: 8rem;
    margin-left: auto;
    margin-right: auto;
  }
}