@import '../../../styles/_colors';

.container {
  position: relative;
  padding-top: 100%;

  .color_icon {
    z-index: 1;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
  }

  .grey_icon {
    position: absolute;
    opacity: 100;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    .color_icon {
      opacity: 100;
      transition: all 0.3s ease;
    }
  }
}

.grey {
  fill: map-get($map: $colors, $key: grey);
}
