@import '../../../styles/_colors';
@import '../../../styles/_mixin.scss';

.container {
  @include display-flex();
  flex-direction: column;
  width: 100%;
  @include media-min-width(46.5rem) {
    flex-direction: row;
  }
}

.webnav_logo {
  font-family: 'Mrs Saint Delafield';
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  color: map-get($map: $colors, $key: black);
  width: 8rem;
  transition: all 0.1s ease;
  @include media-min-width(46.5rem) {
    height: 3.1rem;
    color: map-get($map: $colors, $key: white);
    border-right: 1px solid map-get($map: $colors, $key: white);
  }
  &:hover {
    @include media-min-width(46.5rem) {
      color: map-get($map: $colors, $key: black);
      text-shadow: 2px 2px 5px map-get($map: $colors, $key: black);
    }
  }
}

.webnav_list {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem 0;
  margin: 0;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  @include media-min-width(46.5rem) {
    margin: auto;
    font-family: 'Monserrat', sans-serif;
    display: inline-block;
    vertical-align: middle;
    border: none;
    padding: 0;
    margin-left: 2rem;
  }
}

.webnav__item {
  list-style: none;
  color: map-get($map: $colors, $key: black);
  padding: 0.5rem 0;
  transition: all 0.1s ease;
  @include media-min-width(46.5rem) {
    letter-spacing: 0.15em;
    display: inline-block;
    color: map-get($map: $colors, $key: white);
    padding: 0 1rem 0 0;
  }
}

.webnav__item:hover,
.webnav__item:active {
  color: map-get($map: $colors, $key: secondary);
  @include media-min-width(46.5rem) {
    color: map-get($map: $colors, $key: black);
  }
}
