@import '../../../styles/_colors';
@import '../../../styles/_mixin.scss';

.container {
  @include display-flex();
  flex-direction: column;
  width: 100%;
  height: 4rem;
  align-items: center;
  background-color: map-get($map: $colors, $key: primary);
  justify-content: center;
  @include media-min-width(46.5rem) {
    height: 4rem;
  }
}

.transparent {
  background-color: transparent;
}

.icon {
  fill: map-get($map: $colors, $key: white);
  color: map-get($map: $colors, $key: white);
  transition: all 0.2s ease;
}

.icon_search {
  cursor: pointer;
  fill: map-get($map: $colors, $key: primary);
  color: map-get($map: $colors, $key: primary);
}

.shopbar_inner {
  @include display-flex();
  width: 95%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  @include media-min-width(46.5rem) {
    max-width: 80rem;
  }

  .webnav_area {
    display: none;
    @include media-min-width(46.5rem) {
      min-width: 32.86rem;
      display: inline-flex;
      flex-grow: 0;
    }
  }

  .search_area {
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
    margin: 0 1rem;

    .search_area__box {
      @include display-flex();
      flex-direction: row;
      justify-content: space-between;
      background-color: map-get($map: $colors, $key: white);
      border-radius: 1.25rem;
      max-width: 25rem;
      min-width: 5rem;
      width: 100%;
      height: 2.3rem;
      align-items: center;
      padding: 0 0.6rem 0 1rem;

      .search_area__input {
        background-color: transparent;
        width: 90%;
        max-width: 22rem;
        min-width: 1rem;
        font-family: inherit;
        color: map-get($map: $colors, $key: black);
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .user_area {
    flex-grow: 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & a {
      position: relative;
      display: inline-flex;
      align-items: center;
      color: map-get($map: $colors, $key: primary);
      border-left: 1px solid map-get($map: $colors, $key: white);
      padding: 0 0.5rem;

      & span {
        position: absolute;
        top: 3px;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
      }

      &:hover .icon {
        color: map-get($map: $colors, $key: black);
        fill: map-get($map: $colors, $key: black);
      }
    }
  }

  .mobilenav_btn {
    background: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    @include media-min-width(46.5rem) {
      display: none;
    }
  }

  .user_icon:hover,
  .bag_icon:hover,
  .mobilenav_btn:hover {
    cursor: pointer;
  }
}

.mobilenav {
  @include display-flex();
  background-color: transparent;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem 2rem 7rem 2rem;
  z-index: 15;
  top: 0;
  left: 0;
  background: map-get($map: $colors, $key: white);
  width: 11rem;
  height: 100vh;
  transition: all 200ms ease-out;
  @include media-min-width(46.5rem) {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}
