$colors: (
    primary: #fff5fd,
    secondary: #FF96AD,
    secondary-light: #ffc7d3,
    accent: #65D6CE,
    accent-dark: #54b3ac,
    white: #FAFAFA,
    dark-white: #f5f5f5,
    black: #202224,
    black-transparent: rgb(32, 34, 36, .14),
    text-strong: #FF577F,
    promo-red: #F54748,
    dark-red: #c43939,
    grey: #a5a5a5,
    light-grey: #d1d1d1,
    yellow-tip: #FCF8E8,
    dark-yellow-tip: #FFDA77,
    facebook-color: #1877f2,
    whatsapp-color: #00E676,
);