@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-min-max-width($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}