@import '_colors.scss';
@import '_mixin.scss';

.wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    margin: 2rem auto;
    font-weight: inherit;
  }

  & > div {
    max-width: 40rem;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
}

.form {
  display: inline-flex;
  flex-direction: column;
  max-width: 30rem;

  .form_line {
    &:last-child {
      display: inline-flex;
      justify-content: flex-end;
    }
    & > label {
      display: inline-block;
      margin: 1rem 0;
    }
  }

  .formButton {
    width: 9rem;
    margin: 1rem;
  }

  .form_inputAndButtons{
    display: inline-flex;
    width: 100%;
    align-items: flex-start;
    margin: .3rem 0;
    justify-content: space-between;
  }

  .form_input {
    display: inline-block;
    width:90%;
  }

  .plusButton {
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    font-weight: 500;
  }

  .minusButton {
    display: inline-block;
    background-color: map-get($map: $colors, $key: promo-red);
    width: 2.7rem;
    height: 2.7rem;
    font-weight: 500;

    &:hover {
      background-color: map-get($map: $colors, $key: dark-red);
    }
  }
}
