@import '_colors.scss';
@import '_mixin.scss';

.wrapper {
  @include display-flex();
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;

  & > h1 {
    margin: 2rem auto;
    font-weight: inherit;
  }

  & > div {
    max-width: 40rem;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
}

.form {
  display: inline-flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;

  .form_line {
    &:last-child {
      display: inline-flex;
      justify-content: flex-end;
    }
    & > label {
      display: inline-block;
      margin: 1rem 0;
    }
  }

  .form_input_dates {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .input_date {
      margin: 0 0 0 1rem;
      width: 10rem;
    }
  }

  .formButton {
    width: 9rem;
    margin: 1rem;
  }
}
