@import '_colors.scss';
@import '_mixin.scss';

.wrapper {
  @include display-flex();
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;

  .warning {
    border-bottom: 1px dotted map-get($map: $colors, $key: light-grey);
    & > h1 {
      margin: 2rem auto;
      font-weight: inherit;
    }

    & > div {
      max-width: 40rem;
      text-align: justify;
      line-height: 1.5rem;
      font-size: 0.9rem;
    }
  }

  .product {
    width: 50%;
    margin: 2rem 0;

    .form {
      & > span {
        display: inline-block;
        width: 100%;
        margin: 1rem 0;
      }

      .inpwbutton {
        @include display-flex();
        flex-direction: row;
        align-items: center;

        .button {
          margin-left: 1rem;
          height: 3rem;
        }
      }

      .inp_text {
        height: 3rem;
      }

      .inp_textarea {
        height: 30rem;
      }

      .inp_number {
        width: 4rem;
      }

      .uppercase {
        text-transform: uppercase;
      }

      .capitalize {
        text-transform: capitalize;
      }

      .inp_check_line {
        & > span {
          @include display-flex();
          flex-direction: row;
          align-items: center;
          height: 3rem;
          padding: 0.5rem;

          & > label {
            @include display-flex();
            flex-direction: row;
          }
        }
      }

      .group_line {
        @include display-flex();
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .margins {
        & > label {
          max-width: 7rem;
        }

        label:first-child {
          margin-right: 1rem;
        }

        label:last-child {
          margin-left: 1rem;
        }

        input {
          text-align: right;
        }
      }

      .borderAround {
        border: 1px solid map-get($map: $colors, $key: light-grey);
      }

      .padding {
        padding: 1rem;
      }

      .sets {
        & > span {
          display: block;
          margin: 1rem 0;
        }

        span:last-child {
          text-align: right;
        }
      }

      .icon {
        fill: map-get($map: $colors, $key: white);
      }

      .buttonSmall {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}
