@import '_colors.scss';

.breadcrumb {
  font-family: inherit;
}

.breadcrumb_item a {
  text-decoration: underline;
  text-transform: lowercase;
  &:hover {
    cursor: pointer;
    color: map-get($map: $colors, $key: accent-dark);
  }
}
