@import '_colors.scss';
@import '_mixin.scss';

.page {
  width: 100%;
}

.flex_center {
  @include display-flex();
  flex-direction: column;
  align-items: center;
}

.section {
  width: 90%;
  margin: 1rem;

  @include media-min-width(40rem) {
    margin: 2rem;
  }
}

.section_separator {
  border-top: 1px solid map-get($map: $colors, $key: light-grey);
}

.contact_text {
  display: inline-flex;
  justify-content: center;
  margin: 1rem 2rem;
  font-family: inherit;
  text-align: center;
}

.contact_form {
  width: 80%;

  @include media-min-width(40rem) {
    width: 60%;
  }
}

.contact_label {
  display: block;
  width: 100%;
  text-align: left;
}

.contact_inputline {
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-family: inherit;
  text-align: center;
}

.social_container {
  @include display-flex();
  flex-direction: row;
  justify-content: center;
}

.social_icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;

  @include media-min-width(80rem) {
    width: 5rem;
    height: 5rem;
  }
}

.social_face {
  padding: 1.1%;
}

.social_inst {
  padding: 1.5%;
}

.social_what {
  padding: 0;
}

.button {
  width: 6rem;
}
