@import '_fonts.scss';
@import '_mixin.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.maingrid {
  height: 100vh;
  display: grid;

  grid-template-rows: [shopbar-start] 3rem [shopbar-end logo-start] 7rem [logo-end maincomponent-start] auto [maincomponent-end footer-start] 15rem [footer-end];
  grid-template-areas: 'shopbar' 'logo' 'maincomponent' 'footer';

  @include media-min-width(40rem) {
    grid-template-rows: [notice-start] 2.5rem [notice-end shopbar-start] 3rem [shopbar-end logo-start] 10rem [logo-end mainmenu-start] 3rem [mainmenu-end maincomponent-start] auto [maincomponent-end footer-start] 15rem [footer-end];
    grid-template-areas: 'notice' 'shopbar' 'logo' 'mainmenu' 'maincomponent' 'footer';
  }
}

.mainmenu {
  display: none;
  @include media-min-width(40rem) {
    grid-area: mainmenu;
    display: inline-flex;
  }
}

#backdrop-root {
  position: fixed;
  top: 0;
  left: 0;
}
