@import '_colors.scss';
@import '_mixin.scss';

.main {
  grid-area: maincomponent;
  filter: opacity(5%);
  background: url('../public/laruci_watermark.png') center/3.425rem 3.675rem repeat border-box fixed;
  @include media-min-width(40rem) {
    background: url('../public/laruci_watermark.png') center/5.7rem 6.125rem repeat border-box fixed;
  }
}