@import '_colors.scss';
@import '_mixin.scss';

.banner_one {
  position: relative;
  width: 100%;
  height: 60vh;
  @include media-min-width(40rem) {
    height: 90vh;
  }
}

.overbanner {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: map-get($map: $colors, $key: primary);
  z-index: 2;
}

.banner_one_web {
  display: none;
  @include media-min-width(40rem) {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.banner_one_nav {
  margin: 0;
  width: 100%;
  height: 100%;
  @include media-min-width(40rem) {
    display: none;
  }
}

.frontpage_banner_slogan {
  position: absolute;
  top: 25%;
  left: 10%;
  font-weight: 800;
  font-size: 2rem;
  width: 10rem;
  color: map-get($map: $colors, $key: primary);
  z-index: 5;
  @include media-min-width(40rem) {
    left: 20%;
    font-size: 4rem;
    width: 20rem;
  }
}

.mainmenu {
  display: none;
  @include media-min-width(40rem) {
    display: inline-block;
    width: 100%;
  }
}

.fixed {
  @include media-min-width(40rem) {
    position: fixed;
    top: 4rem;
    z-index: 5;

    @supports (position: sticky) {
      position: sticky;
    }
  }
}

.fixed_with_notice {
  @include media-min-width(40rem) {
    position: fixed;
    top: 6.5rem;
    z-index: 5;

    @supports (position: sticky) {
      position: sticky;
    }
  }
}

.home_listng {
  position: relative;
  height: 60rem;
}
