@import '_colors.scss';
@import '_mixin.scss';

.shopbar {
  @include display-flex();
  background-color: map-get($colors, secondary);
  align-items: center;
  justify-content: center;
}

.shopbar_inner {
  @include display-flex();
  width: 95%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include media-min-width(40rem) {
    margin: auto;
    max-width: 80rem;
  }

  .mobilenav_area,
  .webnav_area {
    flex-grow: 0;
  }

  .webnav_area {
    display: none;
    @include media-min-width(40rem) {
      display: inline-flex;
    }
  }

  .search_area {
    flex-grow: 1;
    display: inline-flex;
    justify-content: right;
  }

  .user_area {
    flex-grow: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .user_icon {
    display: inline-block;
    margin: 0 0.7rem;
    width: 2rem;
    height: 1.4rem;
    background: map-get($map: $colors, $key: secondary)
      url(../public/user_icon.png) center/1.4rem 1.4rem no-repeat;
  }

  .bag_icon {
    display: inline-block;
    width: 2rem;
    height: 1.4rem;
    background: map-get($map: $colors, $key: secondary)
      url(../public/bag_icon.png) center/1.4rem 1.4rem no-repeat;
  }

  .mobilenav_btn {
    margin-right: 0.7rem;
    background: map-get($map: $colors, $key: secondary)
      url(../public/mobilenav_icon.png) center/1.4rem 1.4rem no-repeat;
    border: none;
    width: 2rem;
    height: 2rem;
    @include media-min-width(40rem) {
      display: none;
    }
  }

  .user_icon:hover,
  .bag_icon:hover,
  .mobilenav_btn:hover {
    cursor: pointer;
  }
}

.mobilenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem 7rem 2rem;
  z-index: 10;
  top: 0;
  left: 0;
  background: map-get($map: $colors, $key: white);
  width: 11rem;
  height: 100vh;
  transition: all 200ms ease-out;
  @include media-min-width(40rem) {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}
