.outter_box {
  position: fixed;
  left: 9.6rem;
  top: 0;
  background-color: #1b1b1b;
  width: 6.875rem;
  height: 11.25rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_box {
  width: 90%;
  height: 90%;
  border: 3px solid #f7a7f7;
  color: #f7a7f7;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  text-align: center;
  display: flex;
  padding: 0 0 1rem 1.3rem;
  align-items: flex-end;
}
